*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    color: green;
}

#header{
    background-color: black;
}

#footer{
    background-color: yellow;
    text-align: right;
    ;
}

#header, #footer{
    padding: 20px;
}

.link-box{
    border: 4px solid green;
    display: inline-block;
}

#header a + a , #footer a + a{
    margin-left: 20px;
}

#main{
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: calc(100vh - 130px);
    box-sizing: border-box;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

h1 {
    font-size: 80px;
    margin-bottom: 60px;
}

p{
    font-size: 40px;
}

p+p{
    margin-top: 10px;
}

.other-course{
    border:2px solid green;
    padding: 14px;
    display: inline-block;
    border-radius: 10px;
}